# postgres settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres # docker では db のサービス名
SUPERSET_ADMIN_PASSWORD=postgres
POSTGRES_PORT=5432

# weatherstack のAPI access key
WEATHERSTACK_API_ACCESS_KEY=your_access_key_here

